*{scroll-behaviour: smooth;}
.top-div{
    width: 100%;
    overflow: hidden;
    height: 250px;
    border-radius: 20px;
    margin-top: 40px;
    background-image: url("./assets/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.location{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;;
    position: inherit;
    color:	#800080;
}
.leftl{
    display: flex;
    margin-left: 50px;
}
.location i{
    margin-top: 5px;
    font-size: 2rem;
}
.texts{
    color:rgb(197, 202, 207);
    margin-left: 10px;
}
.texts h6{
    color: #979197;
}
.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius:100%;
    margin-left:40%;
    background-color: rgb(34, 171, 155); 
}
.avatar i{
    margin: 0;
    padding: 0;
}
.float-left{
    display: flex;
    position: absolute;
    left: 5px;
    top: 100px;
    height: 150px;
    flex-direction: column;
    width: 100px;
    border-radius: 30px;
    background-color: #742d74;
}
.body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
}
.cloudy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
    color: #fff;
    border-radius: 30px;
    background-color: #300430;
}
.cloudy i{
    font-size: 2rem;
}
.below{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.below span{
    margin-bottom: 30px;
}
.forecast{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}
.day-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.days{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #f2eaf2;
}
.leftf{
    display: flex;
    margin-left: 10px;
}
.leftf i{
    margin-top: 10%;
    margin-right: 10px;
    font-size: 1.5rem;
}
.frid{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    line-height: 10px;
}
.rightd{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    border-radius: 15px;
    background-color: #947394;
}
.dark{
    background-color: #830e83;
}
.frid p{
    color:gray;
    font-size: 14px;
}
.frid .bold{
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.places{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    width: 40%;
    height: 100%;
}
.arab{
    height: 250px;
    width: 100%;
    color: #fff;

    border-radius: 15px;
    background-image: url("./assets/bg4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.inner p{
    margin-left: 10px;
    font-size: 12px;
}
.reviews{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
}
.top-reviews{
    color:gray;
}
.art{
    height: 70px;
    width: 100%;
    border-radius: 30px;
    background-image: url("./assets/bg5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fon{
    height: 150px;
    overflow: hidden;
    width: 100%;
    border-radius: 30px;
    background-image: url("./assets/bg6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.in-r{
    width: 70px;
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 30px;
    background-color: #742d74;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: 30px;
}
.inner{
    color: #fff;
}
.fon .inner{
    display: flex;
    margin-bottom: 100px;
    margin-left: 20px;
}
.art .inner{
    display: flex;
    margin-right: 60px;
}
@media only screen and (max-width: 425px){
    .container{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .top-div{
        
    }
    .location{
        margin-top: 20px;
       
    }
    .avatar{
        margin: 0;
    }
    .float-left{
        position: initial;
        height: 200px;
        width: 100%;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .cloudy{
        width: 50%;
        height: 100%;
    }
    .below{
        width: 50%;
        
    }
    .body{
        flex-direction: column;
        align-items: center;
    }
    .forecast,.places,.reviews{
        width: 100%;
    }
    .leftf{
        display: flex;
        margin-left: 20px;
    }
    .day-list{
        justify-content: space-around;
        width: 100%;
    }
    .days{
        margin-top: 0px;
        margin-bottom: 30px;
        height: 130px;
    }
    .leftf i{
        margin-top: 10%;
        margin-right: 60%;
        font-size: 2.5rem;
    }
    .art{
        margin-bottom: 20px;
        height: 40%;
        width:100%;
    }
    .fon{
        height: 60%;
    }
    .in-r{
        width: 30%;
        align-items: center;
        justify-content: center;
    }
    .inner{
        margin-top: 20px;
    }
}
